<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title == "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/blog">BLOG</a>
                <a class="link" href="{{ site.url }}/projects">PROJECTS</a>
                <a class="link" href="{{ site.url }}/about" style="margin-left:20px">About</a>
                
            </li>
        {% endif %}
        
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>

                {% if page.title != "Blog" %}
                <a class="link" href="{{ site.url }}/projects">Project</a>
                {% endif %}

                {% if page.title != "Projects" %}
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                {% endif %}

                <a class="link" href="{{ site.url }}/about">About</a>
            </li>
            <a href="/search/"><img src="/assets/images/icon/search.png" style="float:right;margin-right:15px;width:24px;height:auto" /></a>
        {% endif %}


    </ul>
</nav>